{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "spread": true,
      "rest": true,
      "experimentalObjectRestSpread": true,
      "restParams": true
    }
  },
  "rules": {
    "arrow-parens": 0,
    "no-console": 0,
    "require-jsdoc": 0,
    "key-spacing": 0,
    "max-len": 0
  }
}
